name: Docker Build Arm64

on:
    workflow_dispatch:
      inputs:
        parameter_name:
          description: 'Run arm64 manually'
          required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
          registry: docker.io
          username: ${{ secrets.DHUB_USER }}
          password: ${{ secrets.DHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./Docker/arm64.dockerfile
        platforms: linux/arm64
        push: true
        tags: docker.io/cronicle/edge:arm64

